@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

:root {
    /* --primary: #26282b; */
    --primary: #d4d6d9;
    --primary-100: #029AE0;
    --primary-200: #4a4946;
    /* --primary-300: #202124; */
    --primary-300: #f2f2f0;
    --background-100: #029AE0;
    --action-btn: #27d128;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;
    --card-width: 350px;
}

.todo-item:hover {
    background-color: var(--primary-100);
}

/* get styles of button for all other dialogs (accept and cancel that opemn copany is using
below is the styles copied from the html of web*/

-webkit-text-size-adjust: 100%;
tab-size: 4;
--rem: 16;
--primary-color: #BCF124;
--secondary-color: #6528D7;
--secondary-color-100: #000000bb;
--secondary-color-120: #1a2128;
--primary: #d4d6d9;
--primary-100: #029AE0;
--primary-200: #4a4946;
--primary-300: #f2f2f0;
--background-100: #029AE0;
--action-btn: #27d128;
--font-xs: 10px;
--font-sm: 12px;
--font-base: 14px;
--font-lg: 16px;
--font-xl: 18px;
--font-2xl: 20px;
--font-3xl: 22px;
--card-width: 350px;
box-sizing: border-box;
border-width: 0;
border-style: solid;
border-color: #e5e7eb;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
font-family: inherit;
font-feature-settings: inherit;
font-variation-settings: inherit;
font-size: 100%;
font-weight: inherit;
line-height: inherit;
margin: 0;
text-transform: none;
-webkit-appearance: button;
background-image: none;
cursor: pointer;
pointer-events: auto;
position: relative;
display: flex;
max-height: 2rem;
align-items: center;
justify-content: flex-start;
column-gap: 0.5rem;
border-radius: 10px;
background-color: transparent;
fill: #F2F2F2;
padding: 0.5rem;
--tw-text-opacity: 1;
color: rgb(242 242 242 / var(--tw-text-opacity));
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;

